/* Author: dcxavier-dev (github) */
* {
    font-family: "Jetbrains Mono", monospace;
}
.nav-menu{
    font-family: inherit;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: black;
    box-shadow: 0.2rem 0.2rem 2rem -0.02rem rgba(0, 0, 0, 0.25);
}
.menu-items:hover{
    transition: 0.25s;
    color: rgb(152, 152, 152);
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
}
.login:hover{
    transition: 0.25s;
    box-shadow: 0.1rem 0.1rem 2.5rem -0.02rem rgba(0, 0, 0, 0.438);
}

.login{
    transition: 0.5s;
    margin-top: 7.5rem;
    margin: 7.5rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 37.5%;
    height: 50%;
    border: 1.5px solid rgba(0, 0, 0, 0);
    box-shadow: 0.3rem 0.3rem 10rem 0.02rem rgba(0, 0, 0, 0.253);
    border-radius: 1rem 10rem 1rem 10rem;
    padding: 5rem;
}

.login label{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 550;
    margin: 0.5rem;
}

.login input{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    transition: 0.5s;
    width: 25rem;
    border: solid 2px rgba(0, 0, 0, 0.227);
    font-weight: 550;
    box-shadow:  0.001rem 0.001rem 0.3rem 0.01rem rgba(0, 0, 0, 0.486);
    border-radius: 1rem;
    height: 2rem;
    padding-left: 2rem;
    font-size: 1rem;
}
.login input:hover{
    transition: 0.25s;
    box-shadow: 0.05rem 0.05rem 1.5rem -0.02rem rgba(0, 0, 0, 0.486);
    border-color: rgba(0, 0, 0);
}

.login input::placeholder{
    transition: 0.5s;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.842);   
    font-size: 1rem;
}
.login input:hover::placeholder{
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.842);
}
.login a{
    transition: 0.5s;
    margin-top: 10%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.842);
    text-decoration: none;
}

.subtitle{
    cursor: default;
    font-size: 3rem;
    font-weight: 700; 
}